# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../../datasets/Casetas.csv')
df.head()

  caseta vehiculo       fecha
0    DB3     Auto  2018-03-17
1    PQ8     Auto  2019-11-22
2    UB7     Auto  2017-01-17
3    AA4     Auto  2017-03-30
4    TW3     Moto  2017-01-11

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1531110 entries, 0 to 1531109
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   caseta    1531110 non-null  object
 1   vehiculo  1531110 non-null  object
 2   fecha     1531110 non-null  object
dtypes: object(3)
memory usage: 35.0+ MB

In [4]:
df.vehiculo.value_counts()

Auto        842665
2/3/4       306150
5/6         183451
Moto        121968
ExLigero     46326
ExCarga      30550
Name: vehiculo, dtype: int64

In [5]:
df.fecha.value_counts()

2017-03-29    1539
2018-01-23    1524
2018-08-23    1523
2019-03-24    1515
2018-11-25    1514
              ...
2019-09-13    1287
2018-09-24    1286
2019-07-12    1283
2019-10-01    1274
2018-03-21    1265
Name: fecha, Length: 1095, dtype: int64

In [7]:
df.fecha = df.fecha.astype(np.datetime64)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1531110 entries, 0 to 1531109
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   caseta    1531110 non-null  object
 1   vehiculo  1531110 non-null  object
 2   fecha     1531110 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 35.0+ MB

In [9]:
df.fecha.min()

Timestamp('2017-01-01 00:00:00')

In [10]:
df.fecha.max()

Timestamp('2019-12-31 00:00:00')

In [12]:
df.ord = df.sort_values(['caseta','fecha'])

<ipython-input-12-329f8c2ec841>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.ord = df.sort_values(['caseta','fecha'])

In [ ]:
df_ord.value_counts()