# Data Frame Manipulation

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Databases/Week 7/vehicles.csv')

In [ ]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [ ]:
data.columns = ['Fabricante', 'Model', 'Year', 'Engine Displacement', 'Cilindraje',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year']
data.columns

Index(['Fabricante', 'Model', 'Year', 'Engine Displacement', 'Cilindraje',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [ ]:
data = data.rename(columns = {'Fabricante':'Marca_fabrica','Cilindraje':'Cilindrada'})
data.columns

Index(['Marca_fabrica', 'Model', 'Year', 'Engine Displacement', 'Cilindrada',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [ ]:
data.head(2)

  Marca_fabrica              Model  ...  CO2 Emission Grams/Mile  Fuel Cost/Year
0    AM General  DJ Po Vehicle 2WD  ...               522.764706            1950
1    AM General   FJ8c Post Office  ...               683.615385            2550

[2 rows x 15 columns]

In [ ]:
# Moviendo columnas
column_order = [ 'Year', 'Model', 'Marca_fabrica', 'Engine Displacement', 'Cilindrada',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year']

data = data[column_order]
data.head(2)

   Year              Model  ... CO2 Emission Grams/Mile  Fuel Cost/Year
0  1984  DJ Po Vehicle 2WD  ...              522.764706            1950
1  1984   FJ8c Post Office  ...              683.615385            2550

[2 rows x 15 columns]

In [ ]:
#Autos Ford, cilindraje mayor igual a 6, MPG menor a 15
# Filtrando dataset
filtered = data[(data['Marca_fabrica']=='Ford')& (data['Cilindrada']>=6) & (data['Combined MPG']<15)]
filtered.head()

       Year       Model  ... CO2 Emission Grams/Mile  Fuel Cost/Year
11526  1984  Bronco 4WD  ...              683.615385            2550
11528  1984  Bronco 4WD  ...              634.785714            2400
11529  1984  Bronco 4WD  ...              807.909091            3050
11530  1984  Bronco 4WD  ...              683.615385            2550
11531  1984  Bronco 4WD  ...              740.583333            2800

[5 rows x 15 columns]

In [ ]:
data['Combined MPG'].min()

7

In [ ]:
data['Combined MPG'].max()

56

In [ ]:
#Bins 
mpg_labels = ['Pésimo', 'Bajo', 'Medio','Alto','Buenisimo']
bins = pd.cut(data['Combined MPG'],5,labels = mpg_labels )
bins.head(10)

0      Bajo
1    Pésimo
2    Pésimo
3    Pésimo
4    Pésimo
5      Bajo
6      Bajo
7      Bajo
8      Bajo
9      Bajo
Name: Combined MPG, dtype: category
Categories (5, object): ['Pésimo' < 'Bajo' < 'Medio' < 'Alto' < 'Buenisimo']

In [ ]:
bins.value_counts()

Bajo         23444
Pésimo        9137
Medio         3052
Alto           275
Buenisimo       44
Name: Combined MPG, dtype: int64

In [ ]:
bins = pd.qcut(data['Combined MPG'], 5, labels=mpg_labels)
bins.head()

0      Bajo
1    Pésimo
2    Pésimo
3    Pésimo
4    Pésimo
Name: Combined MPG, dtype: category
Categories (5, object): ['Pésimo' < 'Bajo' < 'Medio' < 'Alto' < 'Buenisimo']

In [ ]:
bins.value_counts()

Medio        9533
Pésimo       9137
Bajo         5979
Buenisimo    5716
Alto         5587
Name: Combined MPG, dtype: int64

In [ ]:
#Obteniedno cuantiles
data['Combined MPG'].describe(percentiles=[x/100 for x in range(0, 100, 25)])

count    35952.000000
mean        19.929322
std          5.112409
min          7.000000
0%           7.000000
25%         16.000000
50%         19.000000
75%         23.000000
max         56.000000
Name: Combined MPG, dtype: float64

In [ ]:
cortes = [7,14,21,23,30,50]
bins = pd.cut(data['Combined MPG'], cortes, labels=mpg_labels)
bins.value_counts()

Bajo         20068
Alto          6046
Pésimo        4576
Medio         4041
Buenisimo     1205
Name: Combined MPG, dtype: int64

In [ ]:
bins.unique()

['Bajo', 'Pésimo', 'Medio', 'Alto', 'Buenisimo', NaN]
Categories (5, object): ['Pésimo' < 'Bajo' < 'Medio' < 'Alto' < 'Buenisimo']

In [ ]:
#One Hot Enconding
data['Drivetrain']

0           2-Wheel Drive
1           2-Wheel Drive
2        Rear-Wheel Drive
3        Rear-Wheel Drive
4        Rear-Wheel Drive
               ...
35947    Rear-Wheel Drive
35948    Rear-Wheel Drive
35949    Rear-Wheel Drive
35950    Rear-Wheel Drive
35951    Rear-Wheel Drive
Name: Drivetrain, Length: 35952, dtype: object

In [ ]:
drivetrain = pd.get_dummies(data['Drivetrain'])
drivetrain.head(5)

   2-Wheel Drive  ...  Rear-Wheel Drive
0              1  ...                 0
1              1  ...                 0
2              0  ...                 1
3              0  ...                 1
4              0  ...                 1

[5 rows x 8 columns]

In [ ]:
data_frame2 = pd.concat([data['Drivetrain'],drivetrain],axis=1)
data_frame2.head(4)

         Drivetrain  2-Wheel Drive  ...  Part-time 4-Wheel Drive  Rear-Wheel Drive
0     2-Wheel Drive              1  ...                        0                 0
1     2-Wheel Drive              1  ...                        0                 0
2  Rear-Wheel Drive              0  ...                        0                 1
3  Rear-Wheel Drive              0  ...                        0                 1

[4 rows x 9 columns]

In [ ]:
avg_mpg = data.groupby('Marca_fabrica',as_index=False).agg({'Combined MPG':'mean'})
avg_mpg

                   Marca_fabrica  Combined MPG
0                     AM General     14.750000
1               ASC Incorporated     16.000000
2                          Acura     21.506623
3                     Alfa Romeo     19.512195
4    American Motors Corporation     17.681818
..                           ...           ...
122                   Volkswagen     24.093601
123                        Volvo     20.605300
124        Wallace Environmental     13.875000
125                         Yugo     25.000000
126                        smart     35.800000

[127 rows x 2 columns]

In [ ]:
# data = pd.merge(data, avg_mpg, on='Marca_fabrica', how = left)
data = pd.merge(left = data, right = avg_mpg, left_on='Marca_fabrica',right_on='Marca_fabrica')
data.head(10)

   Year                Model  ... Fuel Cost/Year  Combined MPG_y
0  1984    DJ Po Vehicle 2WD  ...           1950       14.750000
1  1984     FJ8c Post Office  ...           2550       14.750000
2  1985  Post Office DJ5 2WD  ...           2100       14.750000
3  1985  Post Office DJ8 2WD  ...           2550       14.750000
4  1987                  GNX  ...           2550       16.000000
5  1997          2.2CL/3.0CL  ...           1500       21.506623
6  1997          2.2CL/3.0CL  ...           1400       21.506623
7  1997          2.2CL/3.0CL  ...           1650       21.506623
8  1998          2.3CL/3.0CL  ...           1500       21.506623
9  1998          2.3CL/3.0CL  ...           1400       21.506623

[10 rows x 16 columns]

In [ ]:
lexus = data[data['Marca_fabrica']=='Lexus']
ford = data[data['Marca_fabrica']=='Ford']

In [ ]:
lexus.head(1)

       Year    Model  ... Fuel Cost/Year  Combined MPG_y
21128  2011  CT 200h  ...            800       20.982368

[1 rows x 16 columns]

In [ ]:
ford.head(1)

       Year         Model  ... Fuel Cost/Year  Combined MPG_y
11440  1986  Aerostar Van  ...           1750       18.447726

[1 rows x 16 columns]

In [ ]:
lexus_ford = pd.concat([lexus,ford],axis=0)
lexus_ford.head(10)

       Year    Model  ... Fuel Cost/Year  Combined MPG_y
21128  2011  CT 200h  ...            800       20.982368
21129  2012  CT 200h  ...            800       20.982368
21130  2013  CT 200h  ...            800       20.982368
21131  2014  CT 200h  ...            800       20.982368
21132  2015  CT 200h  ...            800       20.982368
21133  2016  CT 200h  ...            800       20.982368
21134  2017  CT 200h  ...            800       20.982368
21135  1990   ES 250  ...           1750       20.982368
21136  1990   ES 250  ...           1750       20.982368
21137  1991   ES 250  ...           1750       20.982368

[10 rows x 16 columns]

In [ ]:
# Concatenado, ignorando indice.
lexus_ford_2 = pd.concat([lexus,ford],axis=0,ignore_index=True)
lexus_ford_2.tail()

      Year               Model  ... Fuel Cost/Year  Combined MPG_y
3338  2000  Windstar FWD Wagon  ...           1950       18.447726
3339  2000  Windstar FWD Wagon  ...           1950       18.447726
3340  2001  Windstar FWD Wagon  ...           1850       18.447726
3341  2002  Windstar FWD Wagon  ...           1850       18.447726
3342  2003  Windstar FWD Wagon  ...           1850       18.447726

[5 rows x 16 columns]

In [ ]:
#melt
data[['Year','Marca_fabrica','Model','Combined MPG_x','Highway MPG','City MPG']]

       Year     Marca_fabrica  ... Highway MPG  City MPG
0      1984        AM General  ...          17        18
1      1984        AM General  ...          13        13
2      1985        AM General  ...          17        16
3      1985        AM General  ...          13        13
4      1987  ASC Incorporated  ...          21        14
...     ...               ...  ...         ...       ...
35947  2013             smart  ...          38        34
35948  2014             smart  ...          38        34
35949  2015             smart  ...          38        34
35950  2016             smart  ...          39        34
35951  2016             smart  ...          39        32

[35952 rows x 6 columns]

In [ ]:
melted = pd.melt(data, id_vars =['Year','Marca_fabrica','Model'], value_vars = ['Combined MPG_x','Highway MPG','City MPG'])
melted

        Year     Marca_fabrica                Model        variable  value
0       1984        AM General    DJ Po Vehicle 2WD  Combined MPG_x     17
1       1984        AM General     FJ8c Post Office  Combined MPG_x     13
2       1985        AM General  Post Office DJ5 2WD  Combined MPG_x     16
3       1985        AM General  Post Office DJ8 2WD  Combined MPG_x     13
4       1987  ASC Incorporated                  GNX  Combined MPG_x     16
...      ...               ...                  ...             ...    ...
107851  2013             smart         fortwo coupe        City MPG     34
107852  2014             smart         fortwo coupe        City MPG     34
107853  2015             smart         fortwo coupe        City MPG     34
107854  2016             smart         fortwo coupe        City MPG     34
107855  2016             smart         fortwo coupe        City MPG     32

[107856 rows x 5 columns]

In [ ]:
#Ejemplo
melted[(melted.Year == 1984) & (melted.Marca_fabrica == "AM General") & (melted.Model == "DJ Po Vehicle 2WD")]

       Year Marca_fabrica              Model        variable  value
0      1984    AM General  DJ Po Vehicle 2WD  Combined MPG_x     17
35952  1984    AM General  DJ Po Vehicle 2WD     Highway MPG     17
71904  1984    AM General  DJ Po Vehicle 2WD        City MPG     18

# DataFrame Calcculation & Aggregations

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
vehicles = pd.read_csv('/content/drive/MyDrive/Databases/Week 7/vehicles.csv')

In [ ]:
vehicles.head(2)

         Make              Model  ...  CO2 Emission Grams/Mile  Fuel Cost/Year
0  AM General  DJ Po Vehicle 2WD  ...               522.764706            1950
1  AM General   FJ8c Post Office  ...               683.615385            2550

[2 rows x 15 columns]

In [ ]:
vehicles.groupby(['Make'])['City MPG','Highway MPG','Combined MPG'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                              City MPG  Highway MPG  Combined MPG
Make
AM General                   15.000000    15.000000     14.750000
ASC Incorporated             14.000000    21.000000     16.000000
Acura                        18.890728    25.940397     21.506623
Alfa Romeo                   17.097561    23.902439     19.512195
American Motors Corporation  16.045455    20.181818     17.681818
...                                ...          ...           ...
Volkswagen                   21.226361    28.985673     24.093601
Volvo                        17.981869    25.064156     20.605300
Wallace Environmental        12.437500    16.000000     13.875000
Yugo                         23.000000    28.250000     25.000000
smart                        33.300000    39.300000     35.800000

[127 rows x 3 columns]

In [ ]:
vehicles.groupby(['Make'])['City MPG','Highway MPG','Combined MPG'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                             City MPG  Highway MPG  Combined MPG
Make
AM General                         60           60            59
ASC Incorporated                   14           21            16
Acura                            5705         7834          6495
Alfa Romeo                        701          980           800
American Motors Corporation       353          444           389
...                               ...          ...           ...
Volkswagen                      22224        30348         25226
Volvo                           12893        17971         14774
Wallace Environmental             398          512           444
Yugo                              184          226           200
smart                             666          786           716

[127 rows x 3 columns]

In [ ]:
vehicles.groupby(['Make'])['City MPG','Highway MPG','Combined MPG'].median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                             City MPG  Highway MPG  Combined MPG
Make
AM General                       14.5         15.0          14.5
ASC Incorporated                 14.0         21.0          16.0
Acura                            18.0         26.0          21.0
Alfa Romeo                       16.0         23.0          19.0
American Motors Corporation      15.0         20.0          17.0
...                               ...          ...           ...
Volkswagen                       21.0         28.0          23.0
Volvo                            18.0         25.0          20.0
Wallace Environmental            11.0         15.0          13.0
Yugo                             23.0         28.5          25.0
smart                            33.0         38.5          36.0

[127 rows x 3 columns]

In [ ]:
vehicles.groupby('Fuel Type', as_index=False)['Combined MPG'].agg(['mean','median','std','min','max'])

                                  mean  median       std  min  max
Fuel Type
CNG                          18.133333    14.5  7.436663    9   31
Diesel                       23.488474    21.0  7.054702   14   40
Gasoline or E85              17.572385    17.0  3.822538   11   33
Gasoline or natural gas      15.350000    12.0  5.343712   10   24
Gasoline or propane          13.500000    13.5  1.603567   12   15
Midgrade                     17.378378    17.0  1.848381   15   24
Premium                      19.343816    19.0  4.097972    7   45
Premium Gas or Electricity   31.647059    33.0  7.158397   20   39
Premium and Electricity      26.300000    25.5  5.141165   17   39
Premium or E85               20.090909    20.0  3.676502   13   27
Regular                      20.144698    20.0  5.317500    8   56
Regular Gas and Electricity  41.937500    38.5  5.246824   38   50
Regular Gas or Electricity   42.000000    42.0  0.000000   42   42

In [ ]:
from scipy import stats

def agg_mode(x):
  mode = stats.mode(x)
  return(mode[0])

In [ ]:
vehicles.groupby(['Fuel Type'])['Combined MPG'].agg(agg_mode)

Fuel Type
CNG                            12
Diesel                         17
Gasoline or E85                14
Gasoline or natural gas        12
Gasoline or propane            12
Midgrade                       17
Premium                        19
Premium Gas or Electricity     37
Premium and Electricity        25
Premium or E85                 23
Regular                        18
Regular Gas and Electricity    38
Regular Gas or Electricity     42
Name: Combined MPG, dtype: int64

# Data Pipelines

In [ ]:
data_sucio = pd.read_csv('/content/drive/MyDrive/Databases/Week 7/vehicles_messy.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
data_sucio.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [ ]:
data_sucio.head(2)

   barrels08  barrelsA08  charge120  ...  phevCity  phevHwy  phevComb
0  15.695714         0.0        0.0  ...         0        0         0
1  29.964545         0.0        0.0  ...         0        0         0

[2 rows x 83 columns]

In [ ]:
null_cols = data_sucio.isnull().sum()

In [ ]:
 null_cols[null_cols > 10000].index

Index(['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType',
       'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr',
       'startStop'],
      dtype='object')

In [ ]:
def tratamiento_nulos(df):
  df_null = df.copy()
  columnas_no_mover = ['displ', 'cylinders', 'drive', 'trany']
  null_cols = df_null.isnull().sum()
  null_cols.drop(columnas_no_mover, inplace=True)

  columns_to_drop = list(null_cols[null_cols > 10000].index)
  df_null = df_null.drop(columns_to_drop, axis = 1)

  for col in columnas_no_mover:
    if col in ['displ','cylinders']:
      df_null[col] = df_null[col].fillna(0)
    elif col == 'drive':
      df_null[col] = df_null[col].fillna('Front-Wheel Drive')
    else:
      df_null[col] = df_null[col].fillna('Manual')
      
  return df_null

In [ ]:
def low_variance(df):
  df_lv = df.copy()
  low_variance = []

  for col in df_lv._get_numeric_data():
    minimum = min(df_lv[col])
    noventa_perc = np.percentile(df_lv[col],90)
    if noventa_perc == minimum:
      low_variance.append(col)
  
  df_lv = df_lv.drop(low_variance, axis = 1)

  return df_lv

In [ ]:
def final_shape(df):
  df_clean = df.copy()

  columnas_a_seleccionar = ['make', 'model', 'year', 'displ', 'cylinders',
                  'trany', 'drive', 'VClass','fuelType','barrels08',
                  'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']

  df_clean = df_clean[columnas_a_seleccionar].drop_duplicates()
  
  df_clean.columns = ['fabricante', 'model', 'year', 'displ', 'cilindraje',
                  'traccion', 'drive', 'VClass','fuelType','barrels08',
                  'city08', 'highway08', 'Combined MPG', 'co2TailpipeGpm', 'fuelCost08']

  column_order = ['year','fabricante', 'model','traccion', 'displ', 'cilindraje',
                   'drive', 'VClass','fuelType','barrels08',
                  'city08', 'highway08', 'Combined MPG', 'co2TailpipeGpm', 'fuelCost08']

  df_clean = df_clean[column_order]

  cortes = [7,14,21,23,30,40]
  mpg_labels = ["Muy bajo","bajo","Moderado","Alto","Muy alto"]
  df_clean["Etiquetas MPG"] = pd.cut(df_clean['Combined MPG'],cortes, labels = mpg_labels)

  avg_mpg = df_clean.groupby('fabricante',as_index = False).agg({'Combined MPG':'mean'})
  
  df_clean = pd.merge(df_clean, avg_mpg, on='fabricante')

  return df_clean

In [ ]:
def preparacion_df_limpio(path):
  df = pd.read_csv('/content/drive/MyDrive/Databases/Week 7/vehicles_messy.csv')
  print('Dataset Cargado')

  df_null = tratamiento_nulos(df)
  print('Nulos borrados :D')

  df_lv = low_variance(df_null)
  print('Adiós varianza baja')
  
  df_clean = final_shape(df_lv)
  print('Listo el final')

  df_clean.to_csv(path)
  
  return df_clean

In [ ]:
mi_df_bonito = preparacion_df_limpio('./dataset_al100.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Dataset Cargado
Nulos borrados :D
Adiós varianza baja
Listo el final

In [ ]:
mi_df_bonito.head()

   year  fabricante  ... Etiquetas MPG Combined MPG_y
0  1985  Alfa Romeo  ...          bajo       19.55814
1  1994  Alfa Romeo  ...      Moderado       19.55814
2  1994  Alfa Romeo  ...          bajo       19.55814
3  1994  Alfa Romeo  ...          bajo       19.55814
4  1995  Alfa Romeo  ...          bajo       19.55814

[5 rows x 17 columns]