## Combining storage and iteration

In [1]:
lst = []

for i in range(10):
    lst.append(i)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## List comprehension

In [2]:
lst = [i for i in range(10)]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Adding conditions to list comprehensions

In [7]:
lst = [i for i in range(20) if i>=5]
print(lst)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [10]:
lst_lst = [[1,2,3,4,5],[6,7,8],[9,10,11]]

lst = [y for x in lst_lst if len(x)<4 for y in x if y %2 ==0]
print(lst)

[6, 8, 10]

## Multiple For-Loops in List Comprehensions

In [11]:
lst_lst = [[1,2,3],[4,5,6],[7,8,9]]
lst=[]
for x in lst_lst:
    for y in x:
        lst.append(y)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## using comprehension

In [12]:
lst_lst = [[1,2,3],[4,5,6],[7,8,9]]

lst = [y for x in lst_lst for y in x]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Practical uses for list comprehensions

## Reading multiple files

In [21]:
import os
import pandas as pd 

file_list = [f for f in os.listdir('data') if f.endswith('.csv')]
data_sets = [pd.read_csv(os.path.join('data', f)) for f in file_list]
data = pd.concat(data_sets, axis=0)
data

            name      brand  cylinders
0          jetta         vw          4
1          bocho         vw          4
0       corvette  chevrolet         12
1  grand marquis       ford          8

## Selecting data frame columns based on conditions

In [23]:
data = pd.read_csv('data/vehicles1.csv')
selected_columns = [col for col in data._get_numeric_data() if data[col].mean()>2]
print(selected_columns)

['cylinders']