In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(88)
df = pd.DataFrame({'A':np.linspace(1,10,10)})
df

      A
0   1.0
1   2.0
2   3.0
3   4.0
4   5.0
5   6.0
6   7.0
7   8.0
8   9.0
9  10.0

In [3]:
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))], axis=1)
df

      A         B         C         D         E
0   1.0  0.106884  2.205815  0.956563  0.068411
1   2.0  1.068514  0.997183 -0.931548  0.730430
2   3.0 -0.171214 -1.288691  1.061436 -0.040501
3   4.0 -0.903721 -1.554133 -0.951133  0.200526
4   5.0 -0.747329  1.068081 -0.277024  0.086557
5   6.0 -0.253221 -1.212041  0.277273  0.552219
6   7.0 -0.467743 -1.427493  0.885805  2.360634
7   8.0 -1.522006 -0.215945  0.190327  0.722256
8   9.0 -0.870716  0.101749  0.555358  0.962261
9  10.0  1.433499 -0.701818 -0.856952 -0.858158

In [4]:
df.iloc[3, 3] = np.nan
df.iloc[0, 2] = np.nan
df

      A         B         C         D         E
0   1.0  0.106884       NaN  0.956563  0.068411
1   2.0  1.068514  0.997183 -0.931548  0.730430
2   3.0 -0.171214 -1.288691  1.061436 -0.040501
3   4.0 -0.903721 -1.554133       NaN  0.200526
4   5.0 -0.747329  1.068081 -0.277024  0.086557
5   6.0 -0.253221 -1.212041  0.277273  0.552219
6   7.0 -0.467743 -1.427493  0.885805  2.360634
7   8.0 -1.522006 -0.215945  0.190327  0.722256
8   9.0 -0.870716  0.101749  0.555358  0.962261
9  10.0  1.433499 -0.701818 -0.856952 -0.858158

In [5]:
# highlight max
df.style.highlight_max()

In [6]:
# highlight min
df.style.highlight_min()

In [7]:
# highlight nan
df.style.highlight_null(null_color='green')

In [8]:
# highlight out of scope
df.style.set_na_rep('OutofScope').highlight_null(null_color='orange')

In [9]:
# creating a heatmap within dataframe
df.style.background_gradient()

In [10]:
# style as a table
df.style.set_properties(**{'border':'1.3px solid green', 'color':'magenta'})

In [11]:
# creating a bar chars
df.style.bar()

In [12]:
# float value precision
df.style.set_precision(2)

In [13]:
df.style.set_caption('This is analytics vidhya blog').set_precision(2).background_gradient()

In [14]:
# hiding index or column
df.style.hide_index()

In [15]:
# styling % and decimals
df.style.format('{:.2%}', na_rep='').hide_index().background_gradient()

In [16]:
# creating a personal highlight
def highlight_mean_greater(s):
    # higlight yellow is value greater than mean else read.
    is_max = s > s.mean()
    return ['background-color:yellow' if i else 'background-color:red' for i in is_max]

df.style.apply(highlight_mean_greater)

In [17]:
# highlight values
def color_negative_red(val):
    color = 'red' if val < 0 else 'white'
    return f'color: {color}'

df.style.applymap(color_negative_red)

In [18]:
# formating a table
styles = [
    dict(selector="tr:hover",
                props=[("background", "#f4f4f4")]),
    dict(selector="th", props=[("color", "#fff"),
                               ("border", "1px solid #eee"),
                               ("padding", "12px 35px"),
                               ("border-collapse", "collapse"),
                               ("background", "#00cccc"),
                               ("text-transform", "uppercase"),
                               ("font-size", "18px")
                               ]),
    dict(selector="td", props=[("color", "#999"),
                               ("border", "1px solid #eee"),
                               ("padding", "12px 35px"),
                               ("border-collapse", "collapse"),
                               ("font-size", "15px")
                               ]),
    dict(selector="table", props=[
                                    ("font-family" , 'Arial'),
                                    ("margin" , "25px auto"),
                                    ("border-collapse" , "collapse"),
                                    ("border" , "1px solid #eee"),
                                    ("border-bottom" , "2px solid #00cccc"),                                    
                                      ]),
    dict(selector="caption", props=[("caption-side", "bottom")])
]

In [19]:
df.style.set_table_styles(styles).set_caption("Image by Author (Made in Pandas)").highlight_max().highlight_null(null_color='red')

In [20]:
# Exporting to excel
df.style.set_precision(2).background_gradient().hide_index().to_excel('styled.xlsx', engine='openpyxl')