In [4]:
import pandas as pd

In [6]:
data = pd.read_csv("liga-mx-c-2021.csv")
data.head()

,Unnamed: 0,equipo,jornada,gf,gc,gt,local,gd,pj,pg,...,pts,gf_a,gc_a,gt_a,gd_a,pj_a,pg_a,pe_a,pp_a,pts_a
0,0,América,1,2,1,3,L,1,1,1,...,3,2,1,3,1,1,1,0,0,3
1,1,América,2,0,1,1,V,-1,1,0,...,0,2,2,4,0,2,1,0,1,3
2,2,América,3,2,0,2,L,2,1,1,...,3,4,2,6,2,3,2,0,1,6
3,3,América,4,1,1,2,V,0,1,0,...,1,5,3,8,2,4,2,1,1,7
4,4,América,5,1,0,1,L,1,1,1,...,3,6,3,9,3,5,3,1,1,10

In [35]:
indicadores = {'gf_a':'Goles a favor','gc_a':'Goles en Contra','gd_a':'Diferencia de goles','pts_a':'Puntos'}
indicadores

{'gf_a': 'Goles a favor',
 'gc_a': 'Goles en Contra',
 'gd_a': 'Diferencia de goles',
 'pts_a': 'Puntos'}

In [36]:
for indicador in indicadores.values():
    print(indicador)

Goles a favor
Goles en Contra
Diferencia de goles
Puntos

In [37]:
indicadores

{'gf_a': 'Goles a favor',
 'gc_a': 'Goles en Contra',
 'gd_a': 'Diferencia de goles',
 'pts_a': 'Puntos'}

In [38]:
indicador

'Puntos'

In [41]:
indicador = 'Puntos'
campo = ''.join([key for key, name in indicadores.items() if name == indicador])
data['kpi'] = data[campo]
data['kpi']

0       3
1       3
2       6
3       7
4      10
       ..
301    19
302    19
303    19
304    22
305    22
Name: kpi, Length: 306, dtype: int64