In [1]:
import numpy as np
import pandas as pd

In [46]:

import chardet
with open ('../../data-sets/denue_inegi_01_.csv', 'rb') as rawdata: 
  result = chardet.detect(rawdata.read(1000))
print (result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [47]:
df1 = pd.read_csv('../../data-sets/denue_inegi_01_.csv', encoding='ISO-8859-1')
df2 = pd.read_csv('../../data-sets/denue_inegi_02_.csv', encoding='ISO-8859-1')
df3 = pd.read_csv('../../data-sets/denue_inegi_03_.csv', encoding='ISO-8859-1')
df4 = pd.read_csv('../../data-sets/denue_inegi_04_.csv', encoding='ISO-8859-1')
df5 = pd.read_csv('../../data-sets/denue_inegi_05_.csv', encoding='ISO-8859-1')

C:\Users\lgutierrez\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (34) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [48]:
df1.head(2)

,per_ocupacion,nom_estab,raz_social,codigo_act,nombre_act,tipo_vial,numero_ext,nom_vial,tipo_v_e_1,nom_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
0,31 a 50 personas,AGROPECUARIA CHARCOS DE QUEZADA,AGROPECUARIA CHARCOS DE QUEZADA SOCIEDAD DE PR...,115119,Otros servicios relacionados con la agricultura,AVENIDA,602.0,UNIVERSIDAD,CALLE,BENJAMÍN MÉNDEZ,...,Aguascalientes,233,9,4.492854e+09,MICHAEL.GALINDO@UGASA.COM.MX,NaN,Fijo,21.906992,-102.309807,2019-04
1,0 a 5 personas,AGROPECUARIO LOS ALAMITOS,NaN,115119,Otros servicios relacionados con la agricultura,CALLE,103.0,J. ENCARNACION PAYEN,CALLE,JARDINES ETERNOS,...,Aguascalientes,322,18,4.499960e+09,NaN,NaN,Fijo,21.889926,-102.314009,2019-11

In [49]:
df1 = df1.reindex(sorted(df1.columns), axis=1)
df2 = df2.reindex(sorted(df1.columns), axis=1)
df3 = df3.reindex(sorted(df1.columns), axis=1)
df4 = df4.reindex(sorted(df1.columns), axis=1)
df5 = df5.reindex(sorted(df1.columns), axis=1)

In [50]:
df1.columns == df2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [51]:
df1_columns = df1.columns
df2_columns = df2.columns
df1_columns.difference(df2_columns)

Index([], dtype='object')

In [52]:
df1.columns == df5.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [53]:
data_frames = [df2, df3, df4, df5]
df = df1.append(data_frames)
df

,ageb,cod_postal,codigo_act,correoelec,cve_ent,cve_loc,cve_mun,edificio,edificio_e,entidad,...,raz_social,telefono,tipoCenCom,tipoUniEco,tipo_asent,tipo_v_e_1,tipo_v_e_2,tipo_v_e_3,tipo_vial,www
0,233,20130.0,115119,MICHAEL.GALINDO@UGASA.COM.MX,1,1,1,NaN,NaN,AGUASCALIENTES,...,AGROPECUARIA CHARCOS DE QUEZADA SOCIEDAD DE PR...,4492853716.0,NaN,Fijo,COLONIA,CALLE,CALLE,CALLE,AVENIDA,NaN
1,322,20040.0,115119,NaN,1,1,1,NaN,NaN,AGUASCALIENTES,...,NaN,4499960472.0,NaN,Fijo,FRACCIONAMIENTO,CALLE,CALLE,CALLE,CALLE,NaN
2,1068,20346.0,114119,NaN,1,127,1,NaN,NaN,AGUASCALIENTES,...,SOCIEDAD COOPERATIVA SC DE RL DE CV,4495444405.0,NaN,Fijo,LOCALIDAD,CALLE,CALLE,OTRO (ESPECIFIQUE),CALLE,NaN
3,78,20437.0,112512,NaN,1,239,7,NaN,NaN,AGUASCALIENTES,...,SAGARPA,NaN,NaN,Fijo,LOCALIDAD,OTRO (ESPECIFIQUE),OTRO (ESPECIFIQUE),OTRO (ESPECIFIQUE),CALLE,WWW.GOB.MX/CONAPESCA
4,69,20336.0,112512,NaN,1,272,10,NaN,NaN,AGUASCALIENTES,...,NaN,NaN,NaN,Fijo,LOCALIDAD,OTRO (ESPECIFIQUE),OTRO (ESPECIFIQUE),OTRO (ESPECIFIQUE),CARRETERA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113717,0176,26170.0,931610,NaN,5,1,22,NaN,NaN,COAHUILA DE ZARAGOZA,...,SECRETARÍA DE EDUCACIÓN PÚBLICA,8626246080.0,NaN,Fijo,COLONIA,CALLE,CALLE,CALLE,CALLE,NaN
113718,1773,26262.0,931610,SUPERVISION.ACU420@HOTMAIL.COM,5,1,2,NaN,NaN,COAHUILA DE ZARAGOZA,...,SECRETARÍA DE EDUCACIÓN Y CULTURA GOBIERNO FED...,NaN,NaN,Fijo,COLONIA,CALLE,CALLE,CALLE,CALLE,NaN
113719,0038,27800.0,931610,NaN,5,1,33,EDIFICIO SIN NOMBRE,1.0,COAHUILA DE ZARAGOZA,...,SECRETARIA DE EDUCACION PUBLICA,NaN,EDIFICIO COMERCIAL Y DE SERVICIOS,Fijo,ZONA COMERCIAL,AVENIDA,AVENIDA,CALLE,CALLE,NaN
113720,095A,27805.0,931610,NaN,5,1,33,NaN,NaN,COAHUILA DE ZARAGOZA,...,NaN,NaN,NaN,Fijo,BARRIO,CALLE,CALLE,AVENIDA,AVENIDA,NaN
113721,0447,26767.0,931610,NaN,5,1,28,NaN,NaN,COAHUILA DE ZARAGOZA,...,MUNICIPIO DE SABINAS COAHUILA,NaN,NaN,Fijo,COLONIA,AVENIDA,AVENIDA,CALLE,AVENIDA,NaN

In [27]:
nulos = df.isnull().sum()
nulos

ageb                  6
cod_postal          547
codigo_act            0
correoelec       301008
cve_ent               0
cve_loc               0
cve_mun               0
edificio         349115
edificio_e       348734
entidad               0
fecha_alta            0
id                    0
latitud               0
letra_ext        206005
letra_int        357115
localidad             0
longitud              0
manzana               6
municipio             0
nom_CenCom       348950
nom_estab             0
nom_v_e_1          7229
nom_v_e_2          7852
nom_v_e_3          7136
nom_vial             22
nomb_asent           95
nombre_act            0
num_local        349375
numero_ext       110638
numero_int       247060
per_ocupacion    316523
raz_social       281178
telefono         234277
tipoCenCom       350291
tipoUniEco            0
tipo_asent          395
tipo_v_e_1         7997
tipo_v_e_2         8592
tipo_v_e_3         8083
tipo_vial           635
www              351036
dtype: int64

In [54]:
nulos[nulos>40000].index

Index(['correoelec', 'edificio', 'edificio_e', 'letra_ext', 'letra_int',
       'nom_CenCom', 'num_local', 'numero_ext', 'numero_int', 'per_ocupacion',
       'raz_social', 'telefono', 'tipoCenCom', 'www'],
      dtype='object')

In [55]:
df_no_nulos = df.drop(nulos[nulos>40000].index, axis=1)
df_no_nulos

,ageb,cod_postal,codigo_act,cve_ent,cve_loc,cve_mun,entidad,fecha_alta,id,latitud,...,nom_v_e_3,nom_vial,nomb_asent,nombre_act,tipoUniEco,tipo_asent,tipo_v_e_1,tipo_v_e_2,tipo_v_e_3,tipo_vial
0,233,20130.0,115119,1,1,1,AGUASCALIENTES,2019-04,6862345,21.906992,...,MARÍA DEL CARMEN MARTÍN DEL CAMPO,UNIVERSIDAD,UNIDAD GANADERA,Otros servicios relacionados con la agricultura,Fijo,COLONIA,CALLE,CALLE,CALLE,AVENIDA
1,322,20040.0,115119,1,1,1,AGUASCALIENTES,2019-11,6905212,21.889926,...,PROFESORA MARÍA CONCEPCIÓN MALDONADO,J. ENCARNACION PAYEN,LA CONCORDIA,Otros servicios relacionados con la agricultura,Fijo,FRACCIONAMIENTO,CALLE,CALLE,CALLE,CALLE
2,1068,20346.0,114119,1,127,1,AGUASCALIENTES,2020-04,9223169,21.782099,...,NINGUNO,TAMPICO,LOS CAÑOS,"Pesca y captura de peces, crustáceos, moluscos...",Fijo,LOCALIDAD,CALLE,CALLE,OTRO (ESPECIFIQUE),CALLE
3,78,20437.0,112512,1,239,7,AGUASCALIENTES,2010-07,6166248,22.167778,...,SIN REFERENCIA,NINGUNO,VIVERO PSIFACTORIA,"Piscicultura y otra acuicultura, excepto camar...",Fijo,LOCALIDAD,OTRO (ESPECIFIQUE),OTRO (ESPECIFIQUE),OTRO (ESPECIFIQUE),CALLE
4,69,20336.0,112512,1,272,10,AGUASCALIENTES,2019-11,8908791,21.956298,...,SIN REFERENCIA,SECTOR DE PRODUCCION N0 1 TERREMOTO EL LLANO A...,EL LLANO (EL TERREMOTO),"Piscicultura y otra acuicultura, excepto camar...",Fijo,LOCALIDAD,OTRO (ESPECIFIQUE),OTRO (ESPECIFIQUE),OTRO (ESPECIFIQUE),CARRETERA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113717,0176,26170.0,931610,5,1,22,COAHUILA DE ZARAGOZA,2010-07,237654,28.431493,...,ACACIA,CALLE DEL BOSQUE,DEL BOSQUE,Actividades administrativas de instituciones d...,Fijo,COLONIA,CALLE,CALLE,CALLE,CALLE
113718,1773,26262.0,931610,5,1,2,COAHUILA DE ZARAGOZA,2010-07,228355,29.315194,...,IGNACIO RAMÍREZ,EMILIANO ZAPATA,ISSSTE,Actividades administrativas de instituciones d...,Fijo,COLONIA,CALLE,CALLE,CALLE,CALLE
113719,0038,27800.0,931610,5,1,33,COAHUILA DE ZARAGOZA,2019-11,8224117,25.759379,...,MANUEL ACUÑA,GONZALEZ ORTEGA,CENTRO,Actividades administrativas de instituciones d...,Fijo,ZONA COMERCIAL,AVENIDA,AVENIDA,CALLE,CALLE
113720,095A,27805.0,931610,5,1,33,COAHUILA DE ZARAGOZA,2010-07,240300,25.755237,...,DEGOLLADO,LERDO DE TEJADA,BARRIO NUEVO,Actividades administrativas de instituciones d...,Fijo,BARRIO,CALLE,CALLE,AVENIDA,AVENIDA
113721,0447,26767.0,931610,5,1,28,COAHUILA DE ZARAGOZA,2019-11,7393446,27.859814,...,MIGUEL RAMOS ARIZPE,CUAUHTEMOC,PROFESOR FEDERICO BERRUETO RAMOS,Actividades administrativas de instituciones d...,Fijo,COLONIA,AVENIDA,AVENIDA,CALLE,AVENIDA

In [34]:
df_no_nulos.head(2)

,ageb,cod_postal,codigo_act,cve_ent,cve_loc,cve_mun,entidad,fecha_alta,id,latitud,...,nom_v_e_3,nom_vial,nomb_asent,nombre_act,tipoUniEco,tipo_asent,tipo_v_e_1,tipo_v_e_2,tipo_v_e_3,tipo_vial
0,233,20130.0,115119,1,1,1,AGUASCALIENTES,2019-04,6862345,21.906992,...,MAR�A DEL CARMEN MART�N DEL CAMPO,UNIVERSIDAD,UNIDAD GANADERA,Otros servicios relacionados con la agricultura,Fijo,COLONIA,CALLE,CALLE,CALLE,AVENIDA
1,322,20040.0,115119,1,1,1,AGUASCALIENTES,2019-11,6905212,21.889926,...,PROFESORA MAR�A CONCEPCI�N MALDONADO,J. ENCARNACION PAYEN,LA CONCORDIA,Otros servicios relacionados con la agricultura,Fijo,FRACCIONAMIENTO,CALLE,CALLE,CALLE,CALLE

In [64]:
df_no_nulos['nombre_act_limpio'] = df_no_nulos['nombre_act'].str.lower()
df_no_nulos['nombre_act_limpio']

0           otros servicios relacionados con la agricultura
1           otros servicios relacionados con la agricultura
2         pesca y captura de peces, crustáceos, moluscos...
3         piscicultura y otra acuicultura, excepto camar...
4         piscicultura y otra acuicultura, excepto camar...
                                ...
113717    actividades administrativas de instituciones d...
113718    actividades administrativas de instituciones d...
113719    actividades administrativas de instituciones d...
113720    actividades administrativas de instituciones d...
113721    actividades administrativas de instituciones d...
Name: nombre_act_limpio, Length: 377847, dtype: object

In [65]:
puntuacion = [".", "," , "-", "\n", ":", ";",'"', "'", "  ",
                "!", "¡", "¿", "?", "(", ")", "<", "«", "»", "~",]

In [66]:
for p in puntuacion:
  df_no_nulos['nombre_act_limpio'] = df_no_nulos['nombre_act_limpio'].str.replace(p,"")

<ipython-input-66-24d720e8c49b>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_no_nulos['nombre_act_limpio'] = df_no_nulos['nombre_act_limpio'].str.replace(p,"")

In [67]:
df_no_nulos['nombre_act_limpio']

0           otros servicios relacionados con la agricultura
1           otros servicios relacionados con la agricultura
2         pesca y captura de peces crustáceos moluscos y...
3         piscicultura y otra acuicultura excepto camaro...
4         piscicultura y otra acuicultura excepto camaro...
                                ...
113717    actividades administrativas de instituciones d...
113718    actividades administrativas de instituciones d...
113719    actividades administrativas de instituciones d...
113720    actividades administrativas de instituciones d...
113721    actividades administrativas de instituciones d...
Name: nombre_act_limpio, Length: 377847, dtype: object

In [68]:
df_no_nulos['nombre_act'].unique().tolist()[:10]

['otros servicios relacionados con la agricultura',
 'pesca y captura de peces, crustáceos, moluscos y otras especies',
 'piscicultura y otra acuicultura, excepto camaronicultura',
 'beneficio de productos agrícolas',
 'servicios relacionados con la cría y explotación de animales',
 'minería de piedra caliza',
 'minería de arena y grava para la construcción',
 'minería de otros minerales no metálicos',
 'minería de oro',
 'minería de otras piedras dimensionadas']

In [70]:
# datos originales
df_no_nulos['nombre_act'][df_no_nulos['nombre_act'].str.contains("humanidades")].unique().tolist()

['servicios de investigación científica y desarrollo en ciencias sociales y humanidades, prestados por el sector privado',
 'servicios de investigación científica y desarrollo en ciencias sociales y humanidades, prestados por el sector público']

In [69]:
# quitamos caracteres especiales
df_no_nulos['nombre_act_limpio'][df_no_nulos['nombre_act_limpio'].str.contains("humanidades")].unique().tolist()

['servicios de investigación científica y desarrollo en ciencias sociales y humanidades prestados por el sector privado',
 'servicios de investigación científica y desarrollo en ciencias sociales y humanidades prestados por el sector público']

In [72]:
# NFKD elimina acentos
df_no_nulos['nombre_act_limpio'] = df_no_nulos['nombre_act_limpio'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [73]:
# quitamos acentos
df_no_nulos['nombre_act_limpio'][df_no_nulos['nombre_act_limpio'].str.contains("humanidades")].unique().tolist()

['servicios de investigacion cientifica y desarrollo en ciencias sociales y humanidades prestados por el sector privado',
 'servicios de investigacion cientifica y desarrollo en ciencias sociales y humanidades prestados por el sector publico']

In [75]:
df_no_nulos['nombre_act_limpio'].value_counts()

comercio al por menor en tiendas de abarrotes ultramarinos y miscelaneas    33300
0 a 5 personas                                                              28516
salones y clinicas de belleza y peluquerias                                 16381
restaurantes con servicio de preparacion de antojitos                        9427
comercio al por menor de ropa excepto de bebe y lenceria                     8393
                                                                            ...
mineria de otras arcillas y de otros minerales refractarios                     1
recuperacion de residuos por el sector publico                                  1
preparacion y envasado de te                                                    1
elaboracion de sidra y otras bebidas fermentadas                                1
extraccion de petroleo y gas natural asociado                                   1
Name: nombre_act_limpio, Length: 944, dtype: int64

In [85]:
df_conteo = df_no_nulos.groupby(['nombre_act_limpio']).agg({'id':'count'}).reset_index()
df_conteo

                                     nombre_act_limpio     id
0                                       0 a 5 personas  28516
1                                   101 a 250 personas    196
2                                     11 a 30 personas   2853
3                                   251 y mas personas    120
4                                     31 a 50 personas    494
..                                                 ...    ...
939  tratamiento de la madera y fabricacion de post...      1
940  tratamiento y disposicion final de residuos no...     13
941  tratamiento y disposicion final de residuos pe...      2
942                                 uniones de credito     26
943  venta de billetes de loteria pronosticos depor...    372

[944 rows x 2 columns]

In [87]:
# .index regresa solo el indice
df_conteo[df_conteo['id']<100].index

Int64Index([  7,   9,  10,  11,  12,  14,  16,  19,  20,  21,
            ...
            933, 934, 935, 936, 937, 938, 939, 940, 941, 942],
           dtype='int64', length=625)

In [88]:
df_conteo[df_conteo['id']<100]

                                     nombre_act_limpio  id
7                        acabado de productos textiles  21
9                    actividades de seguridad nacional  85
10         administracion de aeropuertos y helipuertos  12
11   administracion de cajas de pension y de seguro...  35
12   administracion de cementerios pertenecientes a...  33
..                                                 ...  ..
938                    transporte turistico por tierra  53
939  tratamiento de la madera y fabricacion de post...   1
940  tratamiento y disposicion final de residuos no...  13
941  tratamiento y disposicion final de residuos pe...   2
942                                 uniones de credito  26

[625 rows x 2 columns]

In [90]:
rows_to_remove = list(df_conteo[df_conteo['id']<100].index)
df_conteo_limpio = df_conteo.drop(rows_to_remove, axis=0)
df_conteo_limpio.head(10)

                                    nombre_act_limpio     id
0                                      0 a 5 personas  28516
1                                  101 a 250 personas    196
2                                    11 a 30 personas   2853
3                                  251 y mas personas    120
4                                    31 a 50 personas    494
5                                   51 a 100 personas    319
6                                     6 a 10 personas   3834
8   actividades administrativas de instituciones d...   1436
13  administracion de cementerios pertenecientes a...    123
15                  administracion publica en general   1502

In [105]:
# nlarget regresa el top n
df_top_10 = df_conteo_limpio.nlargest(10,'id')
df_top_10['class'] = 'top_10'
df_top_10.head(5)

                                     nombre_act_limpio     id   class
267  comercio al por menor en tiendas de abarrotes ...  33300  top_10
0                                       0 a 5 personas  28516  top_10
818        salones y clinicas de belleza y peluquerias  16381  top_10
811  restaurantes con servicio de preparacion de an...   9427  top_10
256  comercio al por menor de ropa excepto de bebe ...   8393  top_10

In [106]:
# nsmallest regresa el top n inverso
df_low_10 = df_conteo_limpio.nsmallest(10,'id')
df_low_10['class'] = 'low_10'
df_low_10.head(5)

                                     nombre_act_limpio   id   class
142  comercio al por mayor de desechos de papel y d...  101  low_10
690  operadores de servicios de telecomunicaciones ...  101  low_10
163  comercio al por mayor de maquinaria y equipo p...  102  low_10
176  comercio al por mayor de otros materiales para...  103  low_10
705  otro autotransporte foraneo de carga especiali...  103  low_10

In [107]:
df_tops = df_low_10.append(df_top_10)
df_tops.head(2)

                                     nombre_act_limpio   id   class
142  comercio al por mayor de desechos de papel y d...  101  low_10
690  operadores de servicios de telecomunicaciones ...  101  low_10

In [108]:
df_final = pd.merge(df_no_nulos, df_tops, how='left', on=['nombre_act_limpio'])
df_final['class'][df_final['class'].notnull()]

3266      low_10
3267      low_10
3268      low_10
3269      low_10
3281      low_10
           ...
376260    top_10
376262    top_10
376264    top_10
376265    top_10
376267    top_10
Name: class, Length: 131704, dtype: object

# Pivot Tables

In [111]:
df = pd.read_csv('../../data-sets/database_liquors.csv')

In [113]:
df.head(2)

,invoice,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume,state_bottle_cost,state_bottle_retail,bottles_sold,sale_usd,volume_sold_lt,volume_sold_gallons
0,INV-22970800091,11/01/2019,2569,Hy-Vee Food Store #2 / Cedar Rapids,279 Collins Road NE,Cedar Rapids,52402,POINT (-91.630677 42.027805),57,LINN,...,42718,Malibu Coconut Rum,6,1.75,16.99,25.49,1.0,25.49,1.75,0.46
1,INV-22958000044,11/01/2019,2603,Hy-Vee Wine and Spirits / Bettendorf,2890 Devils Glen Road,Bettendorf,52722,POINT (-90.483701 41.552338),82,SCOTT,...,45278,Paramount White Rum,6,1.75,7.84,11.76,6.0,70.56,10.50,2.77

In [117]:
df.pivot_table(index=['category_name','item_description']).head(10)

                                                bottle_volume  bottles_sold  \
category_name item_description
0             99 Pineapple Mini                        600.00      6.528814
              99 Watermelon Mini                       600.00     20.000000
              Aalborg Jubilaeums Aquavit               750.00     24.000000
              Aberlour A'bunadh                        750.00      6.000000
              Black Saddle Bourbon                     750.00      6.000000
              Blue Chair Bay Banana Rum Cream          750.00      6.584270
              Burnetts Ruby Red Grapefruit             750.00     12.000000
              Cedar Ridge Barrel Proof Bourbon         750.00    110.000000
              Cedar Ridge Reserve Bourbon              750.00     15.538462
              Deep Eddy  Lemon Vodka                     1.75     12.000000

                                                category  county_number  \
category_name item_description
0             99 Pineapple Mini                        0      63.077966
              99 Watermelon Mini                       0      78.000000
              Aalborg Jubilaeums Aquavit               0      33.500000
              Aberlour A'bunadh                        0      67.000000
              Black Saddle Bourbon                     0       7.000000
              Blue Chair Bay Banana Rum Cream          0      51.483146
              Burnetts Ruby Red Grapefruit             0      82.000000
              Cedar Ridge Barrel Proof Bourbon         0      60.333333
              Cedar Ridge Reserve Bourbon              0      65.410256
              Deep Eddy  Lemon Vodka                   0      82.000000

                                                item_number  pack    sale_usd  \
category_name item_description
0             99 Pineapple Mini                     84197.0  10.0   58.759322
              99 Watermelon Mini                   984393.0  10.0  180.000000
              Aalborg Jubilaeums Aquavit           964049.0   6.0  468.000000
              Aberlour A'bunadh                    994046.0   6.0  373.320000
              Black Saddle Bourbon                 916839.0   6.0  232.560000
              Blue Chair Bay Banana Rum Cream       80024.0  12.0   93.035730
              Burnetts Ruby Red Grapefruit         940146.0  12.0   81.000000
              Cedar Ridge Barrel Proof Bourbon     927367.0   6.0  145.040000
              Cedar Ridge Reserve Bourbon           27849.0   6.0  211.624615
              Deep Eddy  Lemon Vodka               940055.0   6.0  260.880000

                                                state_bottle_cost  \
category_name item_description
0             99 Pineapple Mini                              6.00
              99 Watermelon Mini                             6.00
              Aalborg Jubilaeums Aquavit                    13.00
              Aberlour A'bunadh                             41.48
              Black Saddle Bourbon                          25.84
              Blue Chair Bay Banana Rum Cream                9.42
              Burnetts Ruby Red Grapefruit                   4.50
              Cedar Ridge Barrel Proof Bourbon              24.17
              Cedar Ridge Reserve Bourbon                   25.47
              Deep Eddy  Lemon Vodka                        14.49

                                                state_bottle_retail  \
category_name item_description
0             99 Pineapple Mini                                9.00
              99 Watermelon Mini                               9.00
              Aalborg Jubilaeums Aquavit                      19.50
              Aberlour A'bunadh                               62.22
              Black Saddle Bourbon                            38.76
              Blue Chair Bay Banana Rum Cream                 14.13
              Burnetts Ruby Red Grapefruit                     6.75
              Cedar Ridge Barrel Proof Bourbon                36.26
              Cedar Ridge Reserve Bourbon                     38.21
              Deep Eddy  Lemon Vodka                          21.74

                                                store_number  vendor_number  \
category_name item_description
0             99 Pineapple Mini                  4484.989831           55.0
              99 Watermelon Mini                 4312.000000           55.0
              Aalborg Jubilaeums Aquavit         2438.000000          421.0
              Aberlour A'bunadh                  3247.000000          370.0
              Black Saddle Bourbon               4988.000000          198.0
              Blue Chair Bay Banana Rum Cream    3329.011236          305.0
              Burnetts Ruby Red Grapefruit       2614.000000          259.0
              Cedar Ridge Barrel Proof Bourbon   6834.666667          125.0
              Cedar Ridge Reserve Bourbon        3787.179487          125.0
              Deep Eddy  Lemon Vodka             2614.000000          259.0

                                                volume_sold_gallons  \
category_name item_description
0             99 Pineapple Mini                            1.029153
              99 Watermelon Mini                           3.170000
              Aalborg Jubilaeums Aquavit                   4.750000
              Aberlour A'bunadh                            1.180000
              Black Saddle Bourbon                         1.180000
              Blue Chair Bay Banana Rum Cream              1.298652
              Burnetts Ruby Red Grapefruit                 2.370000
              Cedar Ridge Barrel Proof Bourbon            21.790000
              Cedar Ridge Reserve Bourbon                  3.071026
              Deep Eddy  Lemon Vodka                       5.540000

                                                volume_sold_lt      zip_code
category_name item_description
0             99 Pineapple Mini                       3.917288  51485.620339
              99 Watermelon Mini                     12.000000  51501.000000
              Aalborg Jubilaeums Aquavit             18.000000  51131.000000
              Aberlour A'bunadh                       4.500000  52522.500000
              Black Saddle Bourbon                    4.500000  50613.000000
              Blue Chair Bay Banana Rum Cream         4.938202  51253.674157
              Burnetts Ruby Red Grapefruit            9.000000  52807.000000
              Cedar Ridge Barrel Proof Bourbon       82.500000  51565.666667
              Cedar Ridge Reserve Bourbon            11.653846  51635.153846
              Deep Eddy  Lemon Vodka                 21.000000  52807.000000

In [124]:
df_pivot_table = df.pivot_table(index=['item_description'], values=['sale_usd','bottles_sold'], columns=['county'], aggfunc=np.sum, fill_value=0).head(10)
df_pivot_table

                                           bottles_sold                        \
county                                                0 ADAIR ADAMS ALLAMAKEE
item_description
1800 Anejo                                            0     0     0         0
1800 Coconut                                          8     0     0         0
1800 Reposado                                         6     0     0        10
1800 Silver                                           6     2     0         0
1800 Silver Mini                                      0     0     0         1
1800 Silver Tequila w/Replica Shot Glasses            0     0     0         0
1800 Ultimate Mango Margarita                         0     0     0         0
1800 Ultimate Margarita                               0     0     0         0
1800 Ultimate Peach Margarita                         0     0     0         0
1800 Ultimate Pineapple Margarita                     0     0     0         0

                                                                     \
county                                     APPANOOSE AUDUBON BENTON
item_description
1800 Anejo                                         0       0      0
1800 Coconut                                       0       0      0
1800 Reposado                                      0       0      0
1800 Silver                                        2       0      2
1800 Silver Mini                                   0       0      0
1800 Silver Tequila w/Replica Shot Glasses         0       3      0
1800 Ultimate Mango Margarita                      0       0      0
1800 Ultimate Margarita                            6       0      2
1800 Ultimate Peach Margarita                      1       0      0
1800 Ultimate Pineapple Margarita                  0       0      0

                                                                    ...  \
county                                     BLACK HAWK BOONE BREMER  ...
item_description                                                    ...
1800 Anejo                                          5     0      0  ...
1800 Coconut                                        0     0      0  ...
1800 Reposado                                     118     1      1  ...
1800 Silver                                       232    22      0  ...
1800 Silver Mini                                    6     0      0  ...
1800 Silver Tequila w/Replica Shot Glasses         33     6      0  ...
1800 Ultimate Mango Margarita                      13     6      0  ...
1800 Ultimate Margarita                            57     6      2  ...
1800 Ultimate Peach Margarita                      14     0      0  ...
1800 Ultimate Pineapple Margarita                  13     0      0  ...

                                             sale_usd                          \
county                                     WASHINGTON WAYNE WEBSTER WINNEBAGO
item_description
1800 Anejo                                      33.62   0.0  100.86      0.00
1800 Coconut                                     0.00   0.0   46.38      0.00
1800 Reposado                                   23.19   0.0  602.94     23.19
1800 Silver                                      0.00   0.0  278.28    332.07
1800 Silver Mini                                 0.00   0.0    0.00      0.00
1800 Silver Tequila w/Replica Shot Glasses     162.33   0.0    0.00      0.00
1800 Ultimate Mango Margarita                    0.00   0.0   30.12      0.00
1800 Ultimate Margarita                          0.00   0.0    0.00      0.00
1800 Ultimate Peach Margarita                    0.00   0.0   30.12      0.00
1800 Ultimate Pineapple Margarita                0.00   0.0    0.00      0.00

                                                                              \
county                                     WINNESHIEK WOODBURY WORTH  WRIGHT
item_description
1800 Anejo                                       0.00   773.26   0.0    0.00
1800 Coconut                                     0.00   115.95   0.0    0.00
1800 Reposado                                  324.66  3261.75   0.0   92.76
1800 Silver                                      0.00  4877.37   0.0  443.67
1800 Silver Mini                                 0.00    33.15   0.0    0.00
1800 Silver Tequila w/Replica Shot Glasses       0.00   417.42   0.0    0.00
1800 Ultimate Mango Margarita                    0.00   120.48   0.0    0.00
1800 Ultimate Margarita                         90.36   572.28   0.0    0.00
1800 Ultimate Peach Margarita                    0.00     0.00   0.0    0.00
1800 Ultimate Pineapple Margarita                0.00   180.72   0.0    0.00


county                                     Wapello Webster
item_description
1800 Anejo                                    0.00    0.00
1800 Coconut                                  0.00    0.00
1800 Reposado                               278.28   69.57
1800 Silver                                   0.00    0.00
1800 Silver Mini                              0.00    0.00
1800 Silver Tequila w/Replica Shot Glasses  139.14    0.00
1800 Ultimate Mango Margarita                 0.00    0.00
1800 Ultimate Margarita                       0.00    0.00
1800 Ultimate Peach Margarita                 0.00    0.00
1800 Ultimate Pineapple Margarita             0.00    0.00

[10 rows x 238 columns]

In [125]:
type(df_pivot_table)

pandas.core.frame.DataFrame

In [126]:
df_group_bay = df.groupby(['category_name','item_description','county']).agg({'sale_usd':'sum', 'bottles_sold':'sum'})
df_group_bay

                                            sale_usd  bottles_sold
category_name item_description  county
0             99 Pineapple Mini BENTON        387.00          43.0
                                BLACK HAWK    873.00          97.0
                                BOONE          90.00          10.0
                                BREMER         90.00          10.0
                                CARROLL        18.00           2.0
...                                              ...           ...
White Rum     Steel Drum        MARION         36.28           2.0
                                POLK         1469.34          81.0
                                STORY          90.70           5.0
                                WAPELLO       108.84           6.0
                                WARREN       1360.50          75.0

[56929 rows x 2 columns]

In [ ]:
d