Clase de Data Cleaning

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# data = pd.read_csv('/content/drive/MyDrive/Databases/vehicles_messy.csv', nrows=1000)
data = pd.read_csv('/content/drive/MyDrive/Databases/vehicles_messy.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
len(data)

37843

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        1000 non-null   float64
 1   barrelsA08       1000 non-null   float64
 2   charge120        1000 non-null   float64
 3   charge240        1000 non-null   float64
 4   city08           1000 non-null   int64
 5   city08U          1000 non-null   float64
 6   cityA08          1000 non-null   int64
 7   cityA08U         1000 non-null   float64
 8   cityCD           1000 non-null   float64
 9   cityE            1000 non-null   float64
 10  cityUF           1000 non-null   float64
 11  co2              1000 non-null   int64
 12  co2A             1000 non-null   int64
 13  co2TailpipeAGpm  1000 non-null   float64
 14  co2TailpipeGpm   1000 non-null   float64
 15  comb08           1000 non-null   int64
 16  comb08U          1000 non-null   float64
 17  combA08          1000 non-null   int64
 18  combA08U         1000 non-null   float64
 19  combE            1000 non-null   float64
 20  combinedCD       1000 non-null   float64
 21  combinedUF       1000 non-null   float64
 22  cylinders        1000 non-null   int64
 23  displ            1000 non-null   float64
 24  drive            1000 non-null   object
 25  engId            1000 non-null   int64
 26  eng_dscr         959 non-null    object
 27  feScore          1000 non-null   int64
 28  fuelCost08       1000 non-null   int64
 29  fuelCostA08      1000 non-null   int64
 30  fuelType         1000 non-null   object
 31  fuelType1        1000 non-null   object
 32  ghgScore         1000 non-null   int64
 33  ghgScoreA        1000 non-null   int64
 34  highway08        1000 non-null   int64
 35  highway08U       1000 non-null   float64
 36  highwayA08       1000 non-null   int64
 37  highwayA08U      1000 non-null   float64
 38  highwayCD        1000 non-null   float64
 39  highwayE         1000 non-null   float64
 40  highwayUF        1000 non-null   float64
 41  hlv              1000 non-null   int64
 42  hpv              1000 non-null   int64
 43  id               1000 non-null   int64
 44  lv2              1000 non-null   int64
 45  lv4              1000 non-null   int64
 46  make             1000 non-null   object
 47  model            1000 non-null   object
 48  mpgData          1000 non-null   object
 49  phevBlended      1000 non-null   bool
 50  pv2              1000 non-null   int64
 51  pv4              1000 non-null   int64
 52  range            1000 non-null   int64
 53  rangeCity        1000 non-null   float64
 54  rangeCityA       1000 non-null   float64
 55  rangeHwy         1000 non-null   float64
 56  rangeHwyA        1000 non-null   float64
 57  trany            1000 non-null   object
 58  UCity            1000 non-null   float64
 59  UCityA           1000 non-null   float64
 60  UHighway         1000 non-null   float64
 61  UHighwayA        1000 non-null   float64
 62  VClass           1000 non-null   object
 63  year             1000 non-null   int64
 64  youSaveSpend     1000 non-null   int64
 65  guzzler          42 non-null     object
 66  trans_dscr       493 non-null    object
 67  tCharger         42 non-null     object
 68  sCharger         5 non-null      object
 69  atvType          13 non-null     object
 70  fuelType2        0 non-null      float64
 71  rangeA           0 non-null      float64
 72  evMotor          0 non-null      float64
 73  mfrCode          0 non-null      float64
 74  c240Dscr         0 non-null      float64
 75  charge240b       1000 non-null   float64
 76  c240bDscr        0 non-null      float64
 77  createdOn        1000 non-null   object
 78  modifiedOn       1000 non-null   object
 79  startStop        0 non-null      float64
 80  phevCity         1000 non-null   int64
 81  phevHwy          1000 non-null   int64
 82  phevComb         1000 non-null   int64
dtypes: bool(1), float64(38), int64(28), object(16)
memory usage: 641.7+ KB

In [ ]:
data.describe()

          barrels08    barrelsA08  ...       phevHwy      phevComb
count  37843.000000  37843.000000  ...  37843.000000  37843.000000
mean      17.532506      0.216169  ...      0.068203      0.068573
std        4.575950      1.141527  ...      1.871986      1.913647
min        0.060000      0.000000  ...      0.000000      0.000000
25%       14.330870      0.000000  ...      0.000000      0.000000
50%       17.347895      0.000000  ...      0.000000      0.000000
75%       20.600625      0.000000  ...      0.000000      0.000000
max       47.087143     18.311667  ...     79.000000     88.000000

[8 rows x 59 columns]

In [ ]:
data.isnull().sum()

barrels08         0
barrelsA08        0
charge120         0
charge240         0
city08            0
              ...
modifiedOn        0
startStop     31705
phevCity          0
phevHwy           0
phevComb          0
Length: 83, dtype: int64

In [ ]:
cols_nulls = data.isnull().sum()
cols_nulls[cols_nulls>0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [ ]:
cols_delete = list(cols_nulls[cols_nulls>10000].index)
data = data.drop(cols_delete, axis=1)
print(data.shape)

(37843, 70)

In [ ]:
data[['year','make','model','trany','fuelType','cylinders','displ']]

       year        make                model  ... fuelType cylinders  displ
0      1985  Alfa Romeo   Spider Veloce 2000  ...  Regular       4.0    2.0
1      1985     Ferrari           Testarossa  ...  Regular      12.0    4.9
2      1985       Dodge              Charger  ...  Regular       4.0    2.2
3      1985       Dodge  B150/B250 Wagon 2WD  ...  Regular       8.0    5.2
4      1993      Subaru     Legacy AWD Turbo  ...  Premium       4.0    2.2
...     ...         ...                  ...  ...      ...       ...    ...
37838  1993      Subaru               Legacy  ...  Regular       4.0    2.2
37839  1993      Subaru               Legacy  ...  Regular       4.0    2.2
37840  1993      Subaru           Legacy AWD  ...  Regular       4.0    2.2
37841  1993      Subaru           Legacy AWD  ...  Regular       4.0    2.2
37842  1993      Subaru     Legacy AWD Turbo  ...  Premium       4.0    2.2

[37843 rows x 7 columns]

In [ ]:
disp_null = data[(data['displ']==True)]
disp_null[['year','make','model','trany','fuelType','cylinders','displ']]

       year       make      model            trany fuelType  cylinders  displ
775    1994  Chevrolet     Sprint  Automatic 3-spd  Regular        3.0    1.0
776    1994  Chevrolet     Sprint     Manual 5-spd  Regular        3.0    1.0
822    1994        Geo      Metro  Automatic 3-spd  Regular        3.0    1.0
823    1994        Geo      Metro     Manual 5-spd  Regular        3.0    1.0
825    1994        Geo  Metro XFI     Manual 5-spd  Regular        3.0    1.0
...     ...        ...        ...              ...      ...        ...    ...
37581  1993        Geo  Metro LSI  Automatic 3-spd  Regular        3.0    1.0
37582  1993        Geo  Metro LSI     Manual 5-spd  Regular        3.0    1.0
37583  1993        Geo  Metro XFI     Manual 5-spd  Regular        3.0    1.0
37690  1993     Suzuki      Swift  Automatic 3-spd  Regular        3.0    1.0
37691  1993     Suzuki      Swift     Manual 5-spd  Regular        3.0    1.0

[165 rows x 7 columns]

In [ ]:
disp_null['fuelType'].value_counts()

Regular    7
Name: fuelType, dtype: int64

In [ ]:
data[['displ','cylinders']] = data[['displ','cylinders']].fillna(0)

In [ ]:
data[(data['displ']==True)]

     barrels08  barrelsA08  charge120  ...  phevCity  phevHwy  phevComb
775   9.988182         0.0        0.0  ...         0        0         0
776   8.039268         0.0        0.0  ...         0        0         0
822   9.988182         0.0        0.0  ...         0        0         0
823   8.240250         0.0        0.0  ...         0        0         0
825   7.012979         0.0        0.0  ...         0        0         0
898   9.988182         0.0        0.0  ...         0        0         0
899   8.039268         0.0        0.0  ...         0        0         0

[7 rows x 83 columns]

In [ ]:
test = data.loc[(data['cylinders']==0) & (data['fuelType']=='Regular')]
test[['year','make','model','trany','fuelType','cylinders','displ']]

       year    make     model         trany fuelType  cylinders  displ
21413  1985  Subaru  RX Turbo  Manual 5-spd  Regular        0.0    0.0
21414  1985  Subaru  RX Turbo  Manual 5-spd  Regular        0.0    0.0
21506  1986   Mazda      RX-7  Manual 5-spd  Regular        0.0    1.3

In [ ]:
#nos ayuda a navegar en los indices
data.loc[(data['cylinders']==0)&(data['fuelType']=='Regular') & (data['make']=='Subaru'), 'cylinders']=4

In [ ]:
data[(data['cylinders']==0)&(data['fuelType']=='Regular')]

Empty DataFrame
Columns: [barrels08, barrelsA08, charge120, charge240, city08, city08U, cityA08, cityA08U, cityCD, cityE, cityUF, co2, co2A, co2TailpipeAGpm, co2TailpipeGpm, comb08, comb08U, combA08, combA08U, combE, combinedCD, combinedUF, cylinders, displ, drive, engId, feScore, fuelCost08, fuelCostA08, fuelType, fuelType1, ghgScore, ghgScoreA, highway08, highway08U, highwayA08, highwayA08U, highwayCD, highwayE, highwayUF, hlv, hpv, id, lv2, lv4, make, model, mpgData, phevBlended, pv2, pv4, range, rangeCity, rangeCityA, rangeHwy, rangeHwyA, trany, UCity, UCityA, UHighway, UHighwayA, VClass, year, youSaveSpend, charge240b, createdOn, modifiedOn, phevCity, phevHwy, phevComb]
Index: []

In [ ]:
data[(data['cylinders']==5)&(data['fuelType']=='Regular') & (data['make']=='Mazda')]

       barrels08  barrelsA08  charge120  ...  phevCity  phevHwy  phevComb
21506  18.311667         0.0        0.0  ...         0        0         0

[1 rows x 70 columns]

In [ ]:
cols_nulls[(cols_nulls>0) & (cols_nulls<10000)]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [ ]:
data = data.drop(data[data['trany'].isnull()==True].index, axis=0)
print(data.shape)

(37832, 70)

In [ ]:
cols_nulls[(cols_nulls>0) & (cols_nulls<10000)]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [ ]:
# percentiles

![perccentil.png]()

In [ ]:
import numpy as np
varianza_bajo = []
for columna in data._get_numeric_data():
  minimo = min(data[columna])
  percentil_90 = np.percentile(data[columna],90)
  if percentil_90 == minimo:
    varianza_bajo.append(columna)
varianza_bajo

['barrelsA08',
 'charge120',
 'charge240',
 'cityA08',
 'cityA08U',
 'cityCD',
 'cityE',
 'cityUF',
 'co2A',
 'co2TailpipeAGpm',
 'combA08',
 'combA08U',
 'combE',
 'combinedCD',
 'combinedUF',
 'fuelCostA08',
 'ghgScoreA',
 'highwayA08',
 'highwayA08U',
 'highwayCD',
 'highwayE',
 'highwayUF',
 'phevBlended',
 'range',
 'rangeCity',
 'rangeCityA',
 'rangeHwy',
 'rangeHwyA',
 'UCityA',
 'UHighwayA',
 'charge240b',
 'phevCity',
 'phevHwy',
 'phevComb']

In [ ]:
print(data.shape)
data = data.drop(varianza_bajo, axis=1)
print(data.shape)

(37832, 70)
(37832, 36)

In [ ]:
data.describe().transpose()

                  count          mean  ...           75%           max
barrels08       37832.0     17.536112  ...     20.600625     47.087143
city08          37832.0     17.928394  ...     20.000000    138.000000
city08U         37832.0      4.043912  ...      0.000000    138.304000
co2             37832.0     61.521648  ...     -1.000000    847.000000
co2TailpipeGpm  37832.0    473.279183  ...    555.437500   1269.571429
comb08          37832.0     20.185081  ...     23.000000    124.000000
comb08U         37832.0      4.551074  ...      0.000000    124.360100
cylinders       37832.0      5.720977  ...      6.000000     16.000000
displ           37832.0      3.308358  ...      4.300000      8.400000
engId           37832.0   8862.655160  ...   4505.250000  69102.000000
feScore         37832.0     -0.034865  ...     -1.000000     10.000000
fuelCost08      37832.0   1882.209505  ...   2200.000000   5800.000000
ghgScore        37832.0     -0.036926  ...     -1.000000     10.000000
highway08       37832.0     24.096717  ...     27.000000    111.000000
highway08U      37832.0      5.440049  ...      0.000000    111.370000
hlv             37832.0      2.026803  ...      0.000000     49.000000
hpv             37832.0     10.427363  ...      0.000000    195.000000
id              37832.0  19019.192033  ...  28573.250000  38173.000000
lv2             37832.0      1.849757  ...      0.000000     41.000000
lv4             37832.0      6.167451  ...     13.000000     55.000000
pv2             37832.0     13.700095  ...      0.000000    194.000000
pv4             37832.0     33.778944  ...     91.000000    192.000000
UCity           37832.0     22.567952  ...     25.134150    197.577100
UHighway        37832.0     33.607389  ...     38.103300    159.100000
year            37832.0   2000.064971  ...   2009.000000   2017.000000
youSaveSpend    37832.0  -2659.745718  ...   -750.000000   4000.000000

[26 rows x 8 columns]

In [ ]:
# grafica de bigotes

![IQR.png]()

In [ ]:
data.describe().transpose()

                  count          mean  ...           75%           max
barrels08       37832.0     17.536112  ...     20.600625     47.087143
city08          37832.0     17.928394  ...     20.000000    138.000000
city08U         37832.0      4.043912  ...      0.000000    138.304000
co2             37832.0     61.521648  ...     -1.000000    847.000000
co2TailpipeGpm  37832.0    473.279183  ...    555.437500   1269.571429
comb08          37832.0     20.185081  ...     23.000000    124.000000
comb08U         37832.0      4.551074  ...      0.000000    124.360100
cylinders       37832.0      5.720977  ...      6.000000     16.000000
displ           37832.0      3.308358  ...      4.300000      8.400000
engId           37832.0   8862.655160  ...   4505.250000  69102.000000
feScore         37832.0     -0.034865  ...     -1.000000     10.000000
fuelCost08      37832.0   1882.209505  ...   2200.000000   5800.000000
ghgScore        37832.0     -0.036926  ...     -1.000000     10.000000
highway08       37832.0     24.096717  ...     27.000000    111.000000
highway08U      37832.0      5.440049  ...      0.000000    111.370000
hlv             37832.0      2.026803  ...      0.000000     49.000000
hpv             37832.0     10.427363  ...      0.000000    195.000000
id              37832.0  19019.192033  ...  28573.250000  38173.000000
lv2             37832.0      1.849757  ...      0.000000     41.000000
lv4             37832.0      6.167451  ...     13.000000     55.000000
pv2             37832.0     13.700095  ...      0.000000    194.000000
pv4             37832.0     33.778944  ...     91.000000    192.000000
UCity           37832.0     22.567952  ...     25.134150    197.577100
UHighway        37832.0     33.607389  ...     38.103300    159.100000
year            37832.0   2000.064971  ...   2009.000000   2017.000000
youSaveSpend    37832.0  -2659.745718  ...   -750.000000   4000.000000

[26 rows x 8 columns]

In [ ]:
# rango intercuantil = Q3 - Q1
# minimo = Q1 - (rango intercuantil * 1.5)
# maximo = Q3 + (rango intercuantil * 1.5)

In [ ]:
estadisticos = data.describe().transpose()
estadisticos['IQR'] = estadisticos['75%'] - estadisticos['25%']
estadisticos

                  count          mean  ...           max           IQR
barrels08       37832.0     17.536112  ...     47.087143      6.269755
city08          37832.0     17.928394  ...    138.000000      5.000000
city08U         37832.0      4.043912  ...    138.304000      0.000000
co2             37832.0     61.521648  ...    847.000000      0.000000
co2TailpipeGpm  37832.0    473.279183  ...   1269.571429    167.437500
comb08          37832.0     20.185081  ...    124.000000      6.000000
comb08U         37832.0      4.551074  ...    124.360100      0.000000
cylinders       37832.0      5.720977  ...     16.000000      2.000000
displ           37832.0      3.308358  ...      8.400000      2.100000
engId           37832.0   8862.655160  ...  69102.000000   4505.250000
feScore         37832.0     -0.034865  ...     10.000000      0.000000
fuelCost08      37832.0   1882.209505  ...   5800.000000    700.000000
ghgScore        37832.0     -0.036926  ...     10.000000      0.000000
highway08       37832.0     24.096717  ...    111.000000      7.000000
highway08U      37832.0      5.440049  ...    111.370000      0.000000
hlv             37832.0      2.026803  ...     49.000000      0.000000
hpv             37832.0     10.427363  ...    195.000000      0.000000
id              37832.0  19019.192033  ...  38173.000000  19114.500000
lv2             37832.0      1.849757  ...     41.000000      0.000000
lv4             37832.0      6.167451  ...     55.000000     13.000000
pv2             37832.0     13.700095  ...    194.000000      0.000000
pv4             37832.0     33.778944  ...    192.000000     91.000000
UCity           37832.0     22.567952  ...    197.577100      7.134150
UHighway        37832.0     33.607389  ...    159.100000     11.003300
year            37832.0   2000.064971  ...   2017.000000     19.000000
youSaveSpend    37832.0  -2659.745718  ...   4000.000000   3500.000000

[26 rows x 9 columns]

In [ ]:
outliers = pd.DataFrame(columns=data.columns)
for col in estadisticos.index:
  iqr = estadisticos.at[col, 'IQR']
  corte = iqr*1.5
  lower = estadisticos.at[col, '25%'] - corte
  upper = estadisticos.at[col, '25%'] + corte
  resultados = data[(data[col] < lower) | (data[col]>upper)].copy()
  resultados['Outlier'] = col
  outliers = outliers.append(resultados)
outliers

       barrels08 city08  ...                    modifiedOn       Outlier
1      29.964545      9  ...  Tue Jan 01 00:00:00 EST 2013     barrels08
3      29.964545     10  ...  Tue Jan 01 00:00:00 EST 2013     barrels08
14     25.354615     12  ...  Tue Jan 01 00:00:00 EST 2013     barrels08
22     25.354615     11  ...  Tue Jan 01 00:00:00 EST 2013     barrels08
25     25.354615     11  ...  Tue Jan 01 00:00:00 EST 2013     barrels08
...          ...    ...  ...                           ...           ...
37691   8.039268     38  ...  Tue Jan 01 00:00:00 EST 2013  youSaveSpend
37693   9.417429     33  ...  Tue Jan 01 00:00:00 EST 2013  youSaveSpend
37756  10.987000     26  ...  Tue Jan 01 00:00:00 EST 2013  youSaveSpend
37826  10.987000     26  ...  Tue Jan 01 00:00:00 EST 2013  youSaveSpend
37827  29.964545     10  ...  Tue Jan 01 00:00:00 EST 2013  youSaveSpend

[116867 rows x 37 columns]

In [ ]:
data.dtypes

barrels08         float64
city08              int64
city08U           float64
co2                 int64
co2TailpipeGpm    float64
comb08              int64
comb08U           float64
cylinders         float64
displ             float64
drive              object
engId               int64
feScore             int64
fuelCost08          int64
fuelType           object
fuelType1          object
ghgScore            int64
highway08           int64
highway08U        float64
hlv                 int64
hpv                 int64
id                  int64
lv2                 int64
lv4                 int64
make               object
model              object
mpgData            object
pv2                 int64
pv4                 int64
trany              object
UCity             float64
UHighway          float64
VClass             object
year                int64
youSaveSpend        int64
createdOn          object
modifiedOn         object
dtype: object

In [ ]:
data['year'] = data['year'].astype('object')

In [ ]:
set(data['trany'])

{'Auto (AV)',
 'Auto (AV-S6)',
 'Auto (AV-S8)',
 'Auto(A1)',
 'Auto(AM-S6)',
 'Auto(AM-S7)',
 'Auto(AM-S8)',
 'Auto(AM-S9)',
 'Auto(AM5)',
 'Auto(AM6)',
 'Auto(AM7)',
 'Auto(AM8)',
 'Auto(AV-S6)',
 'Auto(AV-S7)',
 'Auto(AV-S8)',
 'Auto(L3)',
 'Auto(L4)',
 'Automatic (A1)',
 'Automatic (A6)',
 'Automatic (AM5)',
 'Automatic (AM6)',
 'Automatic (AV)',
 'Automatic (AV-S6)',
 'Automatic (S4)',
 'Automatic (S5)',
 'Automatic (S6)',
 'Automatic (S7)',
 'Automatic (S8)',
 'Automatic (S9)',
 'Automatic (variable gear ratios)',
 'Automatic 3-spd',
 'Automatic 4-spd',
 'Automatic 5-spd',
 'Automatic 6-spd',
 'Automatic 6spd',
 'Automatic 7-spd',
 'Automatic 8-spd',
 'Automatic 9-spd',
 'Manual 3-spd',
 'Manual 4-spd',
 'Manual 4-spd Doubled',
 'Manual 5 spd',
 'Manual 5-spd',
 'Manual 6-spd',
 'Manual 7-spd',
 'Manual(M7)'}

In [ ]:
data.trany.unique()

array(['Manual 5-spd', 'Automatic 3-spd', 'Automatic 4-spd',
       'Automatic 5-spd', 'Manual 4-spd', 'Manual 3-spd', 'Manual 6-spd',
       'Automatic (S5)', 'Automatic (variable gear ratios)',
       'Automatic 6-spd', 'Automatic (S6)', 'Automatic (S4)',
       'Automatic 7-spd', 'Automatic (S7)', 'Automatic (S8)',
       'Automatic (AM5)', 'Auto(AM6)', 'Auto(AV-S7)', 'Automatic (A6)',
       'Automatic (AV-S6)', 'Auto(AM7)', 'Manual 4-spd Doubled',
       'Manual 5 spd', 'Automatic (AM6)', 'Manual 7-spd', 'Auto(L4)',
       'Auto(L3)', 'Automatic (AV)', 'Auto (AV-S6)', 'Auto(AM5)',
       'Auto(AV-S6)', 'Auto (AV-S8)', 'Automatic 8-spd', 'Auto(AV-S8)',
       'Automatic (A1)', 'Auto (AV)', 'Auto(AM-S6)', 'Auto(AM-S7)',
       'Automatic 6spd', 'Automatic 9-spd', 'Automatic (S9)',
       'Auto(AM-S8)', 'Auto(A1)', 'Auto(AM8)', 'Manual(M7)',
       'Auto(AM-S9)'], dtype=object)

In [ ]:
data['trany'] = data['trany'].str.replace('Automatic','Auto')
data.trany.unique()

array(['Manual 5-spd', 'Auto 3-spd', 'Auto 4-spd', 'Auto 5-spd',
       'Manual 4-spd', 'Manual 3-spd', 'Manual 6-spd', 'Auto (S5)',
       'Auto (variable gear ratios)', 'Auto 6-spd', 'Auto (S6)',
       'Auto (S4)', 'Auto 7-spd', 'Auto (S7)', 'Auto (S8)', 'Auto (AM5)',
       'Auto(AM6)', 'Auto(AV-S7)', 'Auto (A6)', 'Auto (AV-S6)',
       'Auto(AM7)', 'Manual 4-spd Doubled', 'Manual 5 spd', 'Auto (AM6)',
       'Manual 7-spd', 'Auto(L4)', 'Auto(L3)', 'Auto (AV)', 'Auto(AM5)',
       'Auto(AV-S6)', 'Auto (AV-S8)', 'Auto 8-spd', 'Auto(AV-S8)',
       'Auto (A1)', 'Auto(AM-S6)', 'Auto(AM-S7)', 'Auto 6spd',
       'Auto 9-spd', 'Auto (S9)', 'Auto(AM-S8)', 'Auto(A1)', 'Auto(AM8)',
       'Manual(M7)', 'Auto(AM-S9)'], dtype=object)

In [ ]:
data.shape

(37832, 36)

In [ ]:
print(len(data))
data = data.drop_duplicates()
print(len(data))

37832
37832

In [ ]:
select_columns = ['make', 'model', 'year', 'displ', 'cylinders',
                  'trany', 'drive', 'VClass','fuelType','barrels08',
                  'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']
print(len(data))
data = data[select_columns].drop_duplicates()
print(len(data))

37832
36947

In [ ]:
data.shape

(36947, 15)

# Data Pipeline