# Map function

## return a map object (which is an iterator)
## syntax: map(function, iterator) could be a list, tuple o dic
### Recibe una función y una secuencia (estructura de datos) y le aplica la función a cada elemento

In [1]:
def half(x):
    return x/2

In [3]:
num_list = [10,12,34,23]
list(map(half, num_list))

[5.0, 6.0, 17.0, 11.5]

In [36]:
txt = ['Las funciones lambda son funciones anonimas',
       'es decir, no tienen un nombre.',
       'Funciones son objetos en Python.']

anonimato = list(map(lambda s:(True,s) if 'anonimas' in s else (False,s), txt))
anonimato

[(True, 'Las funciones lambda son funciones anonimas'),
 (False, 'es decir, no tienen un nombre.'),
 (False, 'Funciones son objetos en Python.')]

In [37]:
slicing = list(map(lambda s: s.split(), txt))
print(slicing)

[['Las', 'funciones', 'lambda', 'son', 'funciones', 'anonimas'], ['es', 'decir,', 'no', 'tienen', 'un', 'nombre.'], ['Funciones', 'son', 'objetos', 'en', 'Python.']]

In [40]:
print(list(map(str.split,txt)))

[['Las', 'funciones', 'lambda', 'son', 'funciones', 'anonimas'], ['es', 'decir,', 'no', 'tienen', 'un', 'nombre.'], ['Funciones', 'son', 'objetos', 'en', 'Python.']]

In [42]:
upper = list(map(lambda s: s[0].upper() + s[1:], txt))
print(upper)

['Las funciones lambda son funciones anonimas', 'Es decir, no tienen un nombre.', 'Funciones son objetos en Python.']

In [45]:
def squeare(num):
    return num**2
num=[1,2,3,4,5]
cuadrado = list(map(squeare, num))
print(cuadrado)

[1, 4, 9, 16, 25]

In [46]:
# regresar cada elemento en lugar de una lista
for i in map(squeare, num):
    print(i)

1
4
9
16
25

In [52]:
def par_char(txt):
    if len(txt)%2 == 0 :
        return 'PAR'
    else:
        return 'NO PAR'

In [49]:
len('Soy ironhacker')

14

In [53]:
string_pares = list(map(par_char, txt))
print(string_pares)

['NO PAR', 'PAR', 'PAR']

In [11]:
def multiplica(num):
    return lambda x: x*num

In [12]:
lista = [20,30,40,50]
por10 = multiplica(10)
list(map(por10, lista))

[200, 300, 400, 500]

In [15]:
def multiplica_varios(elem1, elem2, elem3):
    return elem1*elem2*elem3

In [16]:
lista1 = [25,35,45,55]
lista2 = [20,30,40,50]
lista3 = [2,3,4,5]

resultado = list(map(multiplica_varios,lista1,lista2,lista3))
print(resultado)

[1000, 3150, 7200, 13750]

In [17]:
temps = [("Alemania", 29), ('Mexico', 28), 
         ('Japon', 40), ('Korea', 17),
         ('España', 32), ('Argentina', 11)
         ]

In [18]:
# Convertir a Fahernheit
fahrenheit = lambda t: (t[0],(9/5)*t[1]+32)
list(map(fahrenheit,temps))

[('Berlin', 84.2),
 ('Mexico', 82.4),
 ('Japon', 104.0),
 ('Korea', 62.6),
 ('España', 89.6),
 ('Argentina', 51.8)]

In [24]:
from statistics import mean, median, mode
from random import choice

In [27]:
# definición de flotantes
flotantes =[1.3,6.5,4.3,12.5]
# genramos datos, elegir de flotantes 50 numeros aleatorios
data = [choice(flotantes) for i in range(50)]

In [29]:
avg = mean(data)
mdn = median(data)
mda = mode(data)

In [30]:
print(avg)
print(mdn)
print(mda)

6.252
6.5
6.5

In [31]:
list(filter(lambda x: x>mda, data))

[12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5]

In [33]:
vacios = ["", "ferrari","mercedez","audi"]
list(filter(None, vacios))

['ferrari', 'mercedez', 'audi']

In [34]:
numeros_2 = [443,535351,33,12,1,5453]
list(filter(lambda x: x%2==0 or x%3==0, numeros_2))

[33, 12]

# Filter function

## constructs an interator from elements of an iterable for which a function return true
## syntax filter(function, iterable)

In [11]:
list(filter(lambda x: x%2==1, num_list))

[23]

In [13]:
max(num_list)

34

In [19]:
def revisamos_par(num):
    return num%2 ==0

In [20]:
nums = [1,54,643,212,665,7753]

In [21]:
list(filter(revisamos_par, nums))

[54, 212]

# Reduce function

## itera over all elements of an interable object, start with de first and second

## syntax: reduce(functions, iterable)

In [23]:
from functools import reduce

In [24]:
# use reduce tu compute sum of list
print(reduce(lambda a,b: a+b, num_list))

79

In [25]:
# using reduce to compute maximum elemente from list
print(reduce(lambda a,b: a if a>b else b, num_list))

34

In [38]:
numeros = list(range(10))
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
x = numeros[0]
for i in numeros[1:]:
    x = x - i
    print(i)
    print(x)

1
-1
2
-3
3
-6
4
-10
5
-15
6
-21
7
-28
8
-36
9
-45

In [42]:
from functools import reduce
reduce(lambda x,y: x-y, numeros)

-45

In [43]:
diez = [10,10,10,10]
a = 1

for i in diez:
    a= i*a
print(a)

10000

In [44]:
reduce(lambda x,y : x*y, diez)

10000

In [45]:
reduce(lambda x,y: x+y, [1,2,3,4,5])

15

In [47]:
# 5! = 5*4*3*2*1
def factorial(num):
    return reduce(lambda x,y: x*y, [i for i in range(1,num+1)])

In [49]:
factorial(5)

120

In [53]:
ultimo = reduce(lambda x,y: x+" loves "+y, ['math', 'data','learning'],"Ironhackers")
ultimo

'Ironhackers loves math loves data loves learning'

### x="Ironhackers, y=” math: return "Ironhacker loves math“ \\
### x="Ironhackers loves math, y=data: return ”Ironhacker loves math loves data" \\
### x=”Ironhacker loves math loves data“, y=”learning” : return ”Ironhacker loves math loves data loves learning

# Apply en pandas

In [27]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(4, 3), columns=['a','b','c'])
df

          a         b         c
0  0.038576  0.838023  0.474442
1  0.258593  0.325511  0.128853
2  0.434209  0.582294  0.710835
3  0.478293  0.331627  0.621481

In [28]:
df.apply(half)

          a         b         c
0  0.019288  0.419011  0.237221
1  0.129296  0.162755  0.064427
2  0.217105  0.291147  0.355418
3  0.239147  0.165814  0.310740

In [29]:
# doing a function to apply in pandas df
def range_func(x):
    return max(x) - min(x)

In [30]:
df.apply(range_func)

a    0.439717
b    0.512512
c    0.581982
dtype: float64