# Map function

## return a map object (which is an iterator)
## syntax: map( function, iterator) could be a list, tuple o dic

In [1]:
def half(x):
    return x/2

In [3]:
num_list = [10,12,34,23]
list(map(half, num_list))

[5.0, 6.0, 17.0, 11.5]

# Filter function

## constructs an interator from elements of an iterable for which a function return true
## syntax filter(function, iterable)

In [11]:
list(filter(lambda x: x%2==1, num_list))

[23]

In [13]:
max(num_list)

34

# Reduce function

## itera over all elements of an interable object, start with de first and second

## syntax: reduce(functions, iterable)

In [23]:
from functools import reduce

In [24]:
# use reduce tu compute sum of list
print(reduce(lambda a,b: a+b, num_list))

79

In [25]:
# using reduce to compute maximum elemente from list
print(reduce(lambda a,b: a if a>b else b, num_list))

34

# pandas apply() function

In [27]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(4, 3), columns=['a','b','c'])
df

          a         b         c
0  0.038576  0.838023  0.474442
1  0.258593  0.325511  0.128853
2  0.434209  0.582294  0.710835
3  0.478293  0.331627  0.621481

In [28]:
df.apply(half)

          a         b         c
0  0.019288  0.419011  0.237221
1  0.129296  0.162755  0.064427
2  0.217105  0.291147  0.355418
3  0.239147  0.165814  0.310740

In [29]:
# doing a function to apply in pandas df
def range_func(x):
    return max(x) - min(x)

In [30]:
df.apply(range_func)

a    0.439717
b    0.512512
c    0.581982
dtype: float64