In [3]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
import matplotlib.pyplot as plt

In [5]:
boston = load_boston()

In [24]:
df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['Price'] = boston.target
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [25]:
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [30]:
y = df.Price
print(y)
x = df.drop('Price', axis=1)
print(x)

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64
        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]

In [27]:
# 20 % de los datos 
train_test_split(x, y, test_size=.2)

[        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS   RAD    TAX  \
 301  0.03537  34.0   6.09   0.0  0.433  6.590  40.4  5.4917   7.0  329.0
 163  1.51902   0.0  19.58   1.0  0.605  8.375  93.9  2.1620   5.0  403.0
 322  0.35114   0.0   7.38   0.0  0.493  6.041  49.9  4.7211   5.0  287.0
 291  0.07886  80.0   4.95   0.0  0.411  7.148  27.7  5.1167   4.0  245.0
 485  3.67367   0.0  18.10   0.0  0.583  6.312  51.9  3.9917  24.0  666.0
 ..       ...   ...    ...   ...    ...    ...   ...     ...   ...    ...
 263  0.82526  20.0   3.97   0.0  0.647  7.327  94.5  2.0788   5.0  264.0
 229  0.44178   0.0   6.20   0.0  0.504  6.552  21.4  3.3751   8.0  307.0
 83   0.03551  25.0   4.86   0.0  0.426  6.167  46.7  5.4007   4.0  281.0
 330  0.04544   0.0   3.24   0.0  0.460  6.144  32.2  5.8736   4.0  430.0
 122  0.09299   0.0  25.65   0.0  0.581  5.961  92.9  2.0869   2.0  188.0

      PTRATIO       B  LSTAT
 301     16.1  395.75   9.50
 163     14.7  388.45   3.32
 322     19.6  396.90   7.70
 291     19.2  396.90   3.56
 485     20.2  388.62  10.58
 ..       ...     ...    ...
 263     13.0  393.42  11.25
 229     17.4  380.34   3.76
 83      19.0  390.64   7.51
 330     16.9  368.57   9.09
 122     19.1  378.09  17.93

 [404 rows x 13 columns],
         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS   RAD    TAX  \
 77   0.08707   0.0  12.83   0.0  0.437  6.140  45.8  4.0905   5.0  398.0
 251  0.21409  22.0   5.86   0.0  0.431  6.438   8.9  7.3967   7.0  330.0
 66   0.04379  80.0   3.37   0.0  0.398  5.787  31.1  6.6115   4.0  337.0
 194  0.01439  60.0   2.93   0.0  0.401  6.604  18.8  6.2196   1.0  265.0
 247  0.19657  22.0   5.86   0.0  0.431  6.226  79.2  8.0555   7.0  330.0
 ..       ...   ...    ...   ...    ...    ...   ...     ...   ...    ...
 134  0.97617   0.0  21.89   0.0  0.624  5.757  98.4  2.3460   4.0  437.0
 274  0.05644  40.0   6.41   1.0  0.447  6.758  32.9  4.0776   4.0  254.0
 139  0.54452   0.0  21.89   0.0  0.624  6.151  97.9  1.6687   4.0  437.0
 470  4.34879   0.0  18.10   0.0  0.580  6.167  84.0  3.0334  24.0  666.0
 502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875   1.0  273.0

      PTRATIO       B  LSTAT
 77      18.7  386.96  10.27
 251     19.1  377.07   3.59
 66      16.1  396.90  10.24
 194     15.6  376.70   4.38
 247     19.1  376.14  10.15
 ..       ...     ...    ...
 134     21.2  262.76  17.31
 274     17.6  396.90   3.53
 139     21.2  396.90  18.46
 470     20.2  396.90  16.29
 502     21.0  396.90   9.08

 [102 rows x 13 columns],
 301    22.0
 163    50.0
 322    20.4
 291    37.3
 485    21.2
        ...
 263    31.0
 229    31.5
 83     22.9
 330    19.8
 122    20.5
 Name: Price, Length: 404, dtype: float64,
 77     20.8
 251    24.8
 66     19.4
 194    29.1
 247    20.5
        ...
 134    15.6
 274    32.4
 139    17.8
 470    19.9
 502    20.6
 Name: Price, Length: 102, dtype: float64]

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.2, random_state=77)

In [29]:
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

404
102
404
102

In [18]:
linreg = LinearRegression()
linreg.fit(x_train, y_train)

LinearRegression()

In [20]:
coeff_df = pd.DataFrame(linreg.coef_, x.columns, columns=['Coefficient'])
coeff_df
# y = (-.1041)RIM+(0.048031)ZN +...+ (-.5581182)LSTAT + 39.02

         Coefficient
CRIM       -0.104127
ZN          0.048031
INDUS      -0.011906
CHAS        3.064590
NOX       -19.885375
RM          3.811223
AGE         0.005227
DIS        -1.614652
RAD         0.332615
TAX        -0.012847
PTRATIO    -0.965360
B           0.009052
LSTAT      -0.558082

In [21]:
linreg.intercept_

39.024802910932486

In [23]:
train_score = linreg.score(x_train, y_train)
test_score = linreg.score(x_test, y_test)
print(train_score)
print(test_score)

0.7398204023122792
0.7269774874059811

In [1]:
# from sklearn import metrics
# metrics.mean_squared_error(y_test, predicted)

NameError: name 'y_test' is not defined